body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ad6969;
    margin-top: 50px;
}

#game-container {
    background: rgb(106, 128, 180);
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(195, 136, 136, 0.758);
}

#guessInput {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}

#guessButton {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

#message {
    color: rgb(238, 236, 236);
    margin-top: 10px;
}
